// Body
$body-bg: #f8fafc;
$custom-app-main-color: #41A49E;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
);

// Убирает смещение страницы влево при появлении scrollbar-а
html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

// "Растяжка" блока с основным контентом во весь экран, "прижатие" футера
html,
body {
    height: 100%;
}

.custom-st-wrapper {
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
}

.custom-st-fullscreen {
    min-height: calc(100vh - 70px);
    display: flex;
}

.custom-st-fullscreen-body {
    flex: 1 1 auto;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

// Стили, используемые кастомными функциями (custom-function)

/* facultyBlock.blade.php */
.custom-fn-remove-cart {
    cursor: pointer;
}

// Прочие кастомные стили (custom-style)
.custom-st-master-navbar {
    background-color: $custom-app-main-color;
}

.custom-st-dropdown-navbar {
    font-size: 16px;
    border-right: 1px solid #CCCCCC;
}

.dropdown-item:active {
    background-color: $custom-app-main-color !important;
}

.custom-st-results-table-bg-color {
    background-color: #99CCCC;
}

.custom-st-form-button-size {
    width: 241px;
    height: 38px;
    padding: 6px 12px;
}

.custom-st-username-color {
    color: #FFFFFF !important;
}
